.welcome{
  font-family: Helvetica;
  font-weight: 100;
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
}

.manage{
  font-family: Helvetica;
  font-weight: 100;
  font-size: 20px;
  margin-left: 30px;
  text-align: center;
}

.logOut{
    position: absolute; 
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.cards{
  display: flex;   
  flex-wrap: wrap;
}